!DOCTYPE html
html lang="en"

head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content=""
    meta name="keywords" content=""
    titleCrypto Coins Bank title
    link href="css/bootstrap.min.css" rel="stylesheet"
    link href="css/style.css" rel="stylesheet"
    link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet"
    link href="css/font-awesome.min.css" rel="stylesheet"
    link rel="stylesheet" type="text/css" href="css/fontello.css"
    script src="autenticacion.js"script
    script type="module" src="http.js"script
    script type="module" src="websocket.js"script
    script type="module" src="utilidades.js"script
    script type="module" src="pintar.js"script
    script type="module" defer="defer" src="main_home.js"script
    script type="module" src="actualizar_monedas.js"script
head

body
    div class="header-wrapper fixed-top"
        div class="container"
            div class="row"
                div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12"
                    div class="logo" a href="index.html"img src="./images/logo.png" alt="" a div
                div
                div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12"
                    !-- navigations--
                    
                        !-- /.navigations--
                div
                div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 d-none d-xl-block d-lg-block"
                    div class="header-quick-info"
                        a href="login.html" class="btn btn-white btn-xs mr-1"Logina
                        a href="register.html" class="btn btn-default btn-xs"Sign upa
                    div
                div
            div
        div
    div
    div id="particles-js" class="hero-section"
    div
    div class="hero-container"
        div class="container"
            div class="row "
                div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center "
                    div class="hero-block"
                        h1 class="hero-title mb30"Buy And Sell Digital Currencyh1
                        p class="text-white"Praesent sodales ultricies dolorut feugiatnisi tincidunt utestib Aliquam enim nisl, efficitupendisse convallis nisl eu leo commodo tempus. ulumest urnatristi risus sitame.p
                        a href="#" class="btn btn-default btn-lg"Get Starteda
                    div
                div
            div
        div
    div
    div class="bg-light"
        div class="container"
            div class="row "
                div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 "
                    p  class="text-primary pdt10 pdb10"Bitcoin BTC strong id="BTCUSDT"strong p
                div
                div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 "
                    p  class="text-primary pdt10 pdb10"Ethereum ETH strong id="ETHBTC"strong p
                div
                div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 "
                    p  class="text-primary pdt10 pdb10"Litecoin LTC strong id="LTCBTC"strong p
                div
            div
        div
    div
    
    div class="footer"
        div class="container"
            div class="row "
                div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                    div class="ft-logo"img src="./images/logo.png" alt=""div
                div
            div
            hr class="footer-line"
            div class="row "
                div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 "
                    div class="footer-widget "
                        div class="footer-title"Companydiv
                        ul class="list-unstyled"
                            lia href="#"Aboutali
                            lia href="#"Supportali
                            lia href="#"Pressali
                            lia href="#"Legal & Privacyali
                        ul
                    div
                div
                div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 "
                    div class="footer-widget "
                        div class="footer-title"Quick Linksdiv
                        ul class="list-unstyled"
                            lia href="#"Newsali
                            lia href="#"Contact usali
                            lia href="#"FAQali
                        ul
                    div
                div
                div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 "
                    div class="footer-widget "
                        div class="footer-title"Socialdiv
                        ul class="list-unstyled"
                            lia href="#"Twitterali
                            lia href="#"Google +ali
                            lia href="#"Linked Inali
                            lia href="#"Facebookali
                        ul
                    div
                div
                div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 "
                    div class="footer-widget "
                        h3 class="footer-title"Subscribe Newsletterh3
                        form
                            div class="newsletter-form"
                                input class="form-control" placeholder="Enter Your Email address" type="text"
                                button class="btn btn-default btn-sm" type="submit"Gobutton
                            div
                        form
                    div
                div
            div
            div class="row "
                div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center "
                    div class="tiny-footer"
                        pCopyright © All Rights Reserved 2020 | Template Design & Development by a href="https://easetemplate.com/ " target="_blank" class="copyrightlink"EaseTemplateap
                    div
                div
            div
        div
    div
    a href="javascript:" id="return-to-top"i class="fa fa-angle-up"ia
    script src="js/jquery.min.js"script
    script src="js/bootstrap.min.js"script
    script src="js/menumaker.js"script
    script src="js/return-to-top.js"script
    script src="js/navigation.js"script
    script src="js/particles.min.js"script
    script

    particlesJS.load('particles-js', 'particles.json', function() {
      console.log('particles.js loaded - callback');
    });


    particlesJS('particles-js',

        {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#feeb01"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ff9f2a",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true,
            "config_demo": {
                "hide_card": false,
                "background_color": "#b61924",
                "background_image": "",
                "background_position": "50% 50%",
                "background_repeat": "no-repeat",
                "background_size": "cover"
            }
        }

    );
    script
body

html