div(class="navigation")
 div(id="navigation")
  ul
   li(class="active")
    a(href="index.html") Home
   li(class="has-sub")
  ul
   li
    a(href="funds.html") Fondos
   li
    a(href="monedas.html") Monedas
   li
    a(href="mensajes.html") Mensajes
   li
    a(href="comprar.html") Comprar
   li
    a(href="vender.html") Vender
   li
    a(href="chat.html") Chat
